<form action="/todos/{{ todo.id }}?_method=PUT" method="POST" style="display: inline;">
  <div class="input-group">
    <div class="input-group-text">
      <input type="checkbox" class="form-check-input mt-0" id="isDone" name="isDone" {{#if todo.isDone }} checked {{/if}}>
    </div>
    <input class="form-control" type="text" placeholder="name" name="name" value="{{ todo.name }}">
    <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>